#root {
  height: 100vh;
}

#app {
  height: 100vh;
  width:100vw;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-image: url('marble.jpg');
  background-size: cover;
  background-color: rgb(238,238,240);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#nav {
  width: 80vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  left: -80vw;
  top: 0vh;
  padding-top: 5vh;
  z-index: 2;
}

.show-nav {
  animation: slide-in 1s;
  animation-fill-mode: forwards;
}

.hide-nav {
  animation: slide-out 1s;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  0% {
    left: -80vw;
  }
  100% {
    left: 0vw;
    box-shadow: 0vh 2vh 12vh 3vh black;
  }
}

@keyframes slide-out {
  from {
    left: 0vw;
    box-shadow: 0vh 2vh 12vh 3vh black;
  }
  to {
    left: -80vw;
  }
}

#menu-icon {
  z-index: 3;
  padding: 2vh;
  position: fixed;
  border: none;
  background: none;
  cursor: pointer;
  outline: inherit;
}

a, button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#first-menu-link {
  margin-top: 3vh;
}

.menu-link {
  color: black;
  display: block;
  padding: 5vh;
  font-size: 3vh;
  font-family: 'Abel', sans-serif;
}

.menu-link:active {
  color: black;
  opacity: 0.8;
  font-weight: bold;
}

.menu-link:visited {
  color: black;
  opacity: 0.8;
  font-weight: bold;
}

#main-page {
  padding: 5vh;
  height: 100vh;
  width: 100vw;
}

.flex {
  display: flex;
  justify-content: center;
}

#top-line {
  border-top: 0.1vh black solid;
  border-radius: 3em;
  margin: 7vh 0vh;
}

#headshot {
  height: 30vh;
}

#name {
  padding: 2.5vh 1vw;
  text-align: center;
  font-size: 4.9vh;
  margin: 0px;
  font-family: 'Reenie Beanie', cursive;
}

.typing {
  text-align: center;
  font-size: 3vh;
  font-family: 'Abel', sans-serif;
  width: 55vw;
  margin: auto;
}

#bottom-line {
  border-top: 0.2vh black solid;
  border-radius: 3em;
  margin: 7vh 0vh;
}

#about-page {
  padding: 5vh;
  height: 100vh;
}

#about-name {
  font-size: 4.9vh;
  font-family: 'Reenie Beanie', cursive;
  margin: 7vh 0vh 3vh 0vh;
}

#about-text {
  margin: 0vh 2vh 2vh 2vh;
  font-family: 'Abel', sans-serif;
  text-align: center;
}

.photo {
  border-radius: 0.5em;
}

#message-me-text {
  margin: 0vh 2vh 5vh 2vh;
  padding-bottom: 5vh;
  font-family: 'Abel', sans-serif;
  font-size: 3vh;
  text-align: center;
}

#buttons {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#portfolio-page {
  padding: 5vh;
  height: 100vh;
}

#welcome-portfolio {
  font-size: 4.5vh;
  font-family: 'Reenie Beanie', cursive;
  margin: 7vh 0vh 3vh 0vh;
}

#portfolio-carousel {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 1em;
  padding: 3vw;
  display: flex;
  flex-direction: column;
}

#portfolio-slider {
  margin: 2vw;
  text-align: center;
  height: 50vh;
}

#portfolio-text {
  font-size: 2.5vh;
  margin: 0vh 2vh 5vh 2vh;
  font-family: 'Abel', sans-serif;
  text-align: center;
}

.project-text {
  font-family: 'Abel', sans-serif;
  text-align: center;
}

.links {
  font-family: 'Abel', sans-serif;
  text-align: center;
  margin-bottom: 1vh;
}

.youtube-vid {
  height: 30vh;
  width: 60vw;
  cursor: pointer;
}

#contact-page {
  padding: 5vh;
  height: 100vh;
}

/* iPhone 6,7,8 landscape */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {
  body {
    overflow: scroll;
    background-size: cover;
  }

  #nav {
    width: 30vw;
    left: -80vw;
  }

  @keyframes slide-in {
    0% {
      left: -80vw;
    }
    100% {
      left: 0vw;
      box-shadow: 0vh 2vh 53vh 12vh black;
    }
  }

  @keyframes slide-out {
    from {
      left: 0vw;
      box-shadow: 0vh 2vh 53vh 12vh black;
    }
    to {
      left: -80vw;
    }
  }

  .show-nav {
    animation: slide-in 1.5s;
    animation-fill-mode: forwards;
  }

  .hide-nav {
    animation: slide-out 1.5s;
    animation-fill-mode: forwards;
  }

  .menu-link {
    font-size: 4vh;
  }

  #top-line {
    border-top: 0.2vh black solid;
    margin: 8vh 40vh;
  }

  #name {
    font-size: 8vh;
  }

  .typing {
    font-size: 5vh;
  }

  #bottom-line {
    border-top: 0.2vh black solid;
    border-radius: 3em;
    margin: 7vh 30vh;
  }

  #about-name {
    font-size: 10vh;
  }

  #about-text {
    font-size: 4vh;
  }

  .photo {
    height: 70vh;
  }

  #about-slider {
    height: 75vh;
    margin: auto;
  }

  #about-carousel {
    width: 40vw;
    padding: 1vw;
    margin: auto;
  }

  #message-me-text {
    margin-top: 2vh;
    font-size: 5vh;
  }

  #welcome-portfolio {
    font-size: 7vw;
  }

  #portfolio-text {
    font-size: 3vw;
  }

  .project-text {
    font-size: 2vw;
  }

  .links {
    font-size: 2vw;
    margin-bottom: 2vh;
  }

  #portfolio-slider {
    height: 80vh;
  }

  #portfolio-carousel {
    width: 70vw;
    padding: 1vw;
    margin: auto;
  }

  #project-text {
    margin-bottom: 0vh;
  }

  #portfolio-gif {
    width: 60vw;
    height: 54vh;
  }
 }

/* iPhone landscape */

@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {
  body {
    overflow: scroll;
    background-size: cover;
  }

  #nav {
    width: 30vw;
    left: -80vw;
  }

  @keyframes slide-in {
    0% {
      left: -80vw;
    }
    100% {
      left: 0vw;
      box-shadow: 0vh 2vh 53vh 12vh black;
    }
  }

  @keyframes slide-out {
    from {
      left: 0vw;
      box-shadow: 0vh 2vh 53vh 12vh black;
    }
    to {
      left: -80vw;
    }
  }

  .show-nav {
    animation: slide-in 1.5s;
    animation-fill-mode: forwards;
  }

  .hide-nav {
    animation: slide-out 1.5s;
    animation-fill-mode: forwards;
  }

  .menu-link {
    font-size: 4vh;
  }

  #top-line {
    border-top: 0.2vh black solid;
    margin: 8vh 40vh;
  }

  #name {
    font-size: 8vh;
  }

  .typing {
    font-size: 5vh;
  }

  #bottom-line {
    border-top: 0.2vh black solid;
    border-radius: 3em;
    margin: 7vh 30vh;
  }

  #about-name {
    font-size: 10vh;
  }

  #about-text {
    font-size: 4vh;
  }

  .photo {
    height: 70vh;
  }

  #about-slider {
    height: 75vh;
    margin: auto;
  }

  #about-carousel {
    width: 40vw;
    padding: 1vw;
    margin: auto;
  }

  #message-me-text {
    margin-top: 2vh;
    font-size: 5vh;
  }

  #welcome-portfolio {
    font-size: 7vw;
  }

  #portfolio-text {
    font-size: 3vw;
  }

  .project-text {
    font-size: 2vw;
  }

  .links {
    font-size: 2vw;
    margin-bottom: 2vh;
  }

  #portfolio-slider {
    height: 85vh;
  }

  #portfolio-carousel {
    width: 70vw;
    padding: 1vw;
    margin: auto;
  }

  #project-text {
    margin-bottom: 0vh;
  }

  #portfolio-gif {
    width: 60vw;
    height: 54vh;
  }
}

/* iPhone 5/SE landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-height: 568px)
and (orientation : landscape)
and (-webkit-device-pixel-ratio: 2){
  #top-line {
    border-top: 0.3vh black solid;
  }

  #bottom-line {
    border-top: 0.4vh black solid;
  }

  #about-text {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  #portfolio-slider {
    height: 82vh;
  }
}

/* Galaxy S5 portrait */
@media only screen
and (min-device-width: 360px)
and (max-device-height: 640px)
and (orientation : portrait)
and (-webkit-device-pixel-ratio: 3){
  #top-line {
    border-top: 0.2vh black solid;
  }
}

/* Galaxy S5 landscape */
@media only screen
and (min-device-width: 360px)
and (max-device-height: 640px)
and (orientation : landscape)
and (-webkit-device-pixel-ratio: 3){
  #bottom-line {
    border-top: 0.3vh black solid;
  }

  #about-text {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

/* Google Pixel 2 portrait */
@media only screen
and (min-width: 411px)
and (orientation: portrait) {
  #top-line {
    border-top: 0.2vh black solid;
  }
}

/* Google Pixel 2 landscape */
@media only screen
and (min-width: 731px)
and (max-width: 750px)
and (orientation: landscape) {
  body {
    overflow: scroll;
    background-size: cover;
  }

  #nav {
    width: 30vw;
    left: -80vw;
  }

  @keyframes slide-in {
    0% {
      left: -80vw;
    }
    100% {
      left: 0vw;
      box-shadow: 0vh 2vh 53vh 12vh black;
    }
  }

  @keyframes slide-out {
    from {
      left: 0vw;
      box-shadow: 0vh 2vh 53vh 12vh black;
    }
    to {
      left: -80vw;
    }
  }

  .show-nav {
    animation: slide-in 1.5s;
    animation-fill-mode: forwards;
  }

  .hide-nav {
    animation: slide-out 1.5s;
    animation-fill-mode: forwards;
  }

  .menu-link {
    font-size: 4vh;
  }

  #top-line {
    border-top: 0.2vh black solid;
    margin: 8vh 40vh;
  }

  #name {
    font-size: 8vh;
  }

  .typing {
    font-size: 5vh;
  }

  #bottom-line {
    border-top: 0.3vh black solid;
    border-radius: 3em;
    margin: 7vh 30vh;
  }

  #about-name {
    font-size: 10vh;
  }

  #about-text {
    font-size: 4vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .photo {
    height: 70vh;
  }

  #about-slider {
    height: 75vh;
    margin: auto;
  }

  #about-carousel {
    width: 40vw;
    padding: 1vw;
    margin: auto;
  }

  #message-me-text {
    margin-top: 2vh;
    font-size: 5vh;
  }

  #welcome-portfolio {
    font-size: 7vw;
  }

  #portfolio-text {
    font-size: 3vw;
  }

  .project-text {
    font-size: 2vw;
  }

  .links {
    font-size: 2vw;
    margin-bottom: 2vh;
  }

  #portfolio-slider {
    height: 80vh;
  }

  #portfolio-carousel {
    width: 70vw;
    padding: 1vw;
    margin: auto;
  }

  #project-text {
    margin-bottom: 0vh;
  }

  #portfolio-gif {
    width: 60vw;
    height: 54vh;
  }
}

/* Google Pixel 2XL landscape */
@media only screen
and (min-device-width: 820px)
and (max-device-width: 840px)
and (orientation: landscape) {
  body {
    overflow: scroll;
    background-size: cover;
  }

  #nav {
    width: 30vw;
    left: -80vw;
  }

  @keyframes slide-in {
    0% {
      left: -80vw;
    }
    100% {
      left: 0vw;
      box-shadow: 0vh 2vh 53vh 12vh black;
    }
  }

  @keyframes slide-out {
    from {
      left: 0vw;
      box-shadow: 0vh 2vh 53vh 12vh black;
    }
    to {
      left: -80vw;
    }
  }

  .show-nav {
    animation: slide-in 1.5s;
    animation-fill-mode: forwards;
  }

  .hide-nav {
    animation: slide-out 1.5s;
    animation-fill-mode: forwards;
  }

  .menu-link {
    font-size: 4vh;
  }

  #top-line {
    border-top: 0.2vh black solid;
    margin: 8vh 40vh;
  }

  #name {
    font-size: 8vh;
  }

  .typing {
    font-size: 5vh;
  }

  #bottom-line {
    border-top: 0.3vh black solid;
    border-radius: 3em;
    margin: 7vh 30vh;
  }

  #about-name {
    font-size: 10vh;
  }

  #about-text {
    font-size: 4vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .photo {
    height: 70vh;
  }

  #about-slider {
    height: 75vh;
    margin: auto;
  }

  #about-carousel {
    width: 40vw;
    padding: 1vw;
    margin: auto;
  }

  #message-me-text {
    margin-top: 2vh;
    font-size: 5vh;
  }

  #welcome-portfolio {
    font-size: 8vw;
  }

  #portfolio-text {
    font-size: 3vw;
  }

  .project-text {
    font-size: 2vw;
  }

  .links {
    font-size: 2vw;
    margin-bottom: 2vh;
  }

  #portfolio-slider {
    height: 80vh;
  }

  #portfolio-carousel {
    width: 70vw;
    padding: 1vw;
    margin: auto;
  }

  #project-text {
    margin-bottom: 0vh;
  }

  #portfolio-gif {
    width: 60vw;
    height: 54vh;
  }
}

/* iPad portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  body {
    overflow: scroll;
    background-size: cover;
  }

  #nav {
    width: 60vw;
    left: -80vw;
  }

  @keyframes slide-in {
    0% {
      left: -80vw;
    }
    100% {
      left: 0vw;
      box-shadow: 0vh 2vh 53vh 12vh black;
    }
  }

  @keyframes slide-out {
    from {
      left: 0vw;
      box-shadow: 0vh 2vh 53vh 12vh black;
    }
    to {
      left: -80vw;
    }
  }

  .show-nav {
    animation: slide-in 1s;
    animation-fill-mode: forwards;
  }

  .hide-nav {
    animation: slide-out 1s;
    animation-fill-mode: forwards;
  }

  .menu-link {
    font-size: 4vh;
  }

  #menu-icon {
    padding: 3vh;
    font-size: 2.5vh;
  }

  #name {
    font-size: 8vh;
  }

  .typing {
    font-size: 4vh;
  }

  #about-name {
    font-size: 8vh;
  }

  #about-text {
    font-size: 2.5vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .photo {
    height: 42vh;
    width: 48vw;
  }

  #about-slider {
    height: 43vh;
    margin: auto;
  }

  #about-carousel {
    width: 50vw;
    margin: auto;
  }

  #message-me-text {
    margin-top: 2vh;
    font-size: 4vh;
  }

  #welcome-portfolio {
    font-size: 9vw;
  }

  #portfolio-text {
    font-size: 5vw;
  }

  .project-text {
    font-size: 3vw;
  }

  .links {
    margin: 2vh;
  }

  .github {
    font-size: 3.5vw;
    margin-top: 5vh;
    padding-top: 2vh;
  }

  #portfolio-slider {
    height: 65vh;
  }

  #portfolio-carousel {
    width: 75vw;
    padding: 1vw;
    margin: auto;
  }

  #project-text {
    margin-bottom: 0vh;
  }

  #portfolio-gif {
    width: 70vw;
    height: 45vh;
  }

  #buttons {
    margin-top: 0vh;
  }
}

/* iPad landscape */
@media only screen
and (min-device-width: 840px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  body {
    overflow: scroll;
    background-size: cover;
  }

  #nav {
    width: 50vw;
    left: -80vw;
  }

  @keyframes slide-in {
    0% {
      left: -80vw;
    }
    100% {
      left: 0vw;
      box-shadow: 0vh 2vh 53vh 12vh black;
    }
  }

  @keyframes slide-out {
    from {
      left: 0vw;
      box-shadow: 0vh 2vh 53vh 12vh black;
    }
    to {
      left: -80vw;
    }
  }

  .show-nav {
    animation: slide-in 1s;
    animation-fill-mode: forwards;
  }

  .hide-nav {
    animation: slide-out 1s;
    animation-fill-mode: forwards;
  }

  .menu-link {
    font-size: 5vh;
  }

  #menu-icon {
    padding: 3vh;
    font-size: 3vh;
  }

  #top-line {
    border-top: 0.2vh black solid;
    margin: 8vh 10vh;
  }

  #headshot {
    height: 38vh;
  }

  #name {
    font-size: 9vh;
  }

  .typing {
    font-size: 4.5vh;
  }

  #bottom-line {
    border-top: 0.2vh black solid;
    margin: 8vh 10vh;
  }

  #about-name {
    font-size: 9vh;
  }

  #about-text {
    font-size: 3.5vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .photo {
    height: 68vh;
    width: 49vw;
  }

  #about-slider {
    height: 69vh;
    margin: auto;
  }

  #about-carousel {
    width: 52vw;
    margin: auto;
  }

  #message-me-text {
    margin-top: 2vh;
    font-size: 4vh;
  }

  #welcome-portfolio {
    font-size: 8vw;
  }

  #portfolio-text {
    font-size: 4vw;
  }

  .project-text {
    font-size: 3vw;
  }

  .links {
    margin: 2vh;
  }

  .github {
    font-size: 3vw;
    margin-top: 5vh;
    padding-top: 2vh;
  }

  #portfolio-slider {
    height: 83vh;
  }

  #portfolio-carousel {
    width: 75vw;
    padding: 1vw;
    margin: auto;
  }

  #project-text {
    margin-bottom: 0vh;
  }

  #portfolio-gif {
    width: 70vw;
    height: 50vh;
  }

  #buttons {
    margin-top: 0vh;
  }
}

/* iPad pro landscape  */
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  body {
    overflow: scroll;
    background-size: cover;
  }

  #nav {
    width: 50vw;
    left: -80vw;
  }

  @keyframes slide-in {
    0% {
      left: -80vw;
    }
    100% {
      left: 0vw;
      box-shadow: 0vh 2vh 53vh 12vh black;
    }
  }

  @keyframes slide-out {
    from {
      left: 0vw;
      box-shadow: 0vh 2vh 53vh 12vh black;
    }
    to {
      left: -80vw;
    }
  }

  .show-nav {
    animation: slide-in 1s;
    animation-fill-mode: forwards;
  }

  .hide-nav {
    animation: slide-out 1s;
    animation-fill-mode: forwards;
  }

  .menu-link {
    font-size: 5vh;
  }

  #menu-icon {
    padding: 3vh;
    font-size: 3vh;
  }

  #top-line {
    border-top: 0.2vh black solid;
    margin: 8vh 10vh;
  }

  #headshot {
    height: 38vh;
  }

  #name {
    font-size: 9vh;
  }

  .typing {
    font-size: 4.5vh;
  }

  #bottom-line {
    border-top: 0.2vh black solid;
    margin: 8vh 10vh;
  }

  #about-name {
    font-size: 9vh;
  }

  #about-text {
    font-size: 3.5vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .photo {
    height: 68vh;
    width: 51vw;
  }

  #about-slider {
    height: 69vh;
    margin: auto;
  }

  #about-carousel {
    width: 52vw;
    margin: auto;
  }

  #message-me-text {
    margin-top: 2vh;
    font-size: 4vh;
  }

  #welcome-portfolio {
    font-size: 8vw;
  }

  #portfolio-text {
    font-size: 4vw;
  }

  .project-text {
    font-size: 3vw;
  }

  .links {
    margin: 2vh;
  }

  .github {
    font-size: 2.5vw;
    margin-top: 5vh;
    padding-top: 2vh;
  }

  #portfolio-slider {
    height: 83vh;
  }

  #portfolio-carousel {
    width: 75vw;
    padding: 1vw;
    margin: auto;
  }

  #project-text {
    margin-bottom: 0vh;
  }

  #portfolio-gif {
    width: 70vw;
    height: 50vh;
  }

  #buttons {
    margin-top: 0vh;
    height: 5vh;
  }
}

@media only screen
and (min-device-width: 1024px) {
  body {
    overflow: scroll;
    background-size: cover;
  }

  #nav {
    width: 40vw;
    left: -80vw;
  }

  @keyframes slide-in {
    0% {
      left: -80vw;
    }
    100% {
      left: 0vw;
      box-shadow: 0vh 2vh 53vh 12vh black;
    }
  }

  @keyframes slide-out {
    from {
      left: 0vw;
      box-shadow: 0vh 2vh 53vh 12vh black;
    }
    to {
      left: -80vw;
    }
  }

  .show-nav {
    animation: slide-in 1s;
    animation-fill-mode: forwards;
  }

  .hide-nav {
    animation: slide-out 1s;
    animation-fill-mode: forwards;
  }

  .menu-link {
    font-size: 5vh;
  }

  #menu-icon {
    padding: 3vh;
    font-size: 3vh;
  }

  #first-menu-link {
    padding-top: 10vh;
  }

  #top-line {
    border-top: 0.2vh black solid;
    margin: 8vh 10vh;
  }

  #headshot {
    height: 38vh;
  }

  #name {
    font-size: 9vh;
  }

  .typing {
    font-size: 4.5vh;
  }

  #bottom-line {
    border-top: 0.2vh black solid;
    margin: 8vh 10vh;
  }

  #about-name {
    font-size: 7vh;
  }

  #about-text {
    font-size: 3vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .photo {
    height: 78vh;
    width: 45vw;
  }

  #about-slider {
    height: 80vh;
    margin: auto;
  }

  #about-carousel {
    width: 46vw;
    margin: auto;
  }

  #message-me-text {
    margin-top: 2vh;
    font-size: 4vh;
  }

  #welcome-portfolio {
    font-size: 5vw;
  }

  #portfolio-text {
    font-size: 2vw;
  }

  .project-text {
    font-size: 1.5vw;
  }

  .links {
    margin: 2vh;
  }

  .github {
    font-size: 1.5vw;
    margin-top: 5vh;
    padding-top: 2vh;
  }

  #portfolio-slider {
    height: 83vh;
  }

  #portfolio-carousel {
    width: 75vw;
    padding: 1vw;
    margin: auto;
  }

  #project-text {
    margin-bottom: 0vh;
  }

  #portfolio-gif {
    width: 70vw;
    height: 65vh;
  }

  #buttons {
    margin-top: 0vh;
    height: 5vh;
  }
}
