#root {
  height: 100vh;
}

body {
  width: 100vw;
  background-image: url('marble.jpg');
}

#nav {
  width: 50vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  left: -50vw;
  top: 0vh;
  padding-top: 5vh;
  z-index: 2;
}

.show-nav {
  animation: slide-in 1s;
  animation-fill-mode: forwards;
}

.hide-nav {
  animation: slide-out 1s;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  0% {
    left: -50vw;
  }
  100% {
    left: 0vw;
    box-shadow: 0vh 2vh 15vh 1vh black;
  }
}

@keyframes slide-out {
  from {
    left: 0vw;
    box-shadow: 0vh 2vh 15vh 1vh black;
  }
  to {
    left: -50vw;
  }
}

#menu-icon {
  z-index: 3;
  padding-top: 2vh;
  padding-left: 2vh;
  position: fixed;
}

.menu-link {
  color: black;
  display: block;
  padding: 2vh;
}

#main-page {
  padding: 5vh;
  height: 100vh;
  width: 100vw;
}

.flex {
  display: flex;
  justify-content: center;
}

#top-line {
  border-top: 0.1vh black solid;
  border-radius: 3em;
  margin: 7vh 0vh;
}

#headshot {
  height: 30vh;
}

#name {
  padding: 2.5vh 1vw;
  text-align: center;
  font-size: 4.9vh;
  margin: 0px;
  font-family: 'Reenie Beanie', cursive;
}

.typing {
  text-align: center;
  font-size: 3vh;
  font-family: 'Abel', sans-serif;
}

#bottom-line {
  border-top: 0.2vh black solid;
  border-radius: 3em;
  margin: 7vh 0vh;
}

#about-page {
  padding: 5vh;
}

#about-name {
  font-size: 4.9vh;
  font-family: 'Reenie Beanie', cursive;
  margin: 7vh 0vh 3vh 0vh;
}

#about-text {
  margin: 0vh 2vh 5vh 2vh;
}

#slider {
  margin-bottom: 0vh;
}

#buttons {
  margin-top: 2vh;
}

#portfolio-page {
  padding: 5vh;
}

#resume-page {
  padding: 5vh;
}

#contact-page {
  padding: 5vh;
}
