#root {
  height: 100vh;
}

body {
  width: 100vw;
  background-image: url('marble.jpg');
}

#nav {
  width: 50vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  left: -50vw;
  top: 0vh;
  padding-top: 5vh;
}

.show-nav {
  animation: slide-in 1s;
  animation-fill-mode: forwards;
}

.hide-nav {
  animation: slide-out 1s;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  0% { left: -50vw; }
  100% { left: 0vw; }
}

@keyframes slide-out {
  from { left: 0vw; }
  to { left: -50vw; }
}

#menu-icon {
  z-index: 2;
  position: fixed;
}

.menu-link {
  color: black;
  display: block;
  padding: 2px;
}

#main-page {
  padding: 5vh;
  height: 100vh;
  width: 100vw;
}

#headshot {
  height: 25vh;
}

#top-line {
  border-top: 0.2vh black solid;
  border-radius: 3em;
  margin-bottom: 3vh;
}

#about-page {
  padding: 5vh;
}
